.container{
    padding: 4rem 0 0 0;
    background-color: #1F1F1F;
    color: white;
    h2{
        margin: 0 auto;
        width: 80%;
        font-size: 40px;
        font-weight: 800;
        line-height: 48px;
    }
    p{
        margin: 0 auto;
        width: 90%;
        font-size: 14px;
        font-weight: 300;
        line-height: 17px;
        text-align: center;
    }
    .info{
        padding: 2rem 0 1rem 0;
    }
}