.container{
    background-color: #F1F1F1;
    padding: 2rem 0 4rem 0;
    h2{
        width: 80%;
        margin: 0 auto;
        text-align: center;
        font-size: 40px;
        font-weight: 300;
        padding-bottom: 1.5rem;
    }
    .flex_scroll{
        display: flex;
        overflow-x: scroll;
        width: auto;
        .img{
            padding: 1rem;
           min-width: 245px !important;
           min-height: 245px !important;
        }
    }
}

@media (min-width: 870px) {
    .container{
        .flex_scroll{
            justify-content: center;
            align-items: center;
        }
    }
}