@import "../../../styles/variables.scss";

.container{
    position: relative;
    width: 100vw;
    height: 70vh;
    max-height: 600px;
    background-color: #1D1D21;
    padding: 16vh 1rem;
    h1{
        position: absolute;
        left: 0;
        right: 0;
        z-index: 9999;
        width: 70%;
        line-height: 48.41px;
        margin: 0 auto;
        color: white;
        font-size: 40px;
        font-weight: 500;
        text-align: center;
    }
    .abs_img{
        position: absolute;
        margin: 0 auto;
        left: 0;
        right: 0;
        bottom: 0rem;
        width: 100%;
        max-width: 420px;
        z-index: 1;
    }
    .abs_info{
        z-index: 2;
        position: absolute;
        bottom: .5rem;
        right: 0;
        margin: auto;
    }
}


@media (min-width: 870px) {

.container{
    height: 80vh;
    max-height: 80vh;
    h1{
        top: 250px;
        left: 0;
        right: 0;
        width: auto;
        max-width: 750px;
        line-height: 72.61px;
        font-size: 60px;
        font-weight: 800;
    }
    .abs_img{
        bottom: -6rem;
        max-width: 850px;
    }
}
}