.post_container{
    padding: 2rem;
    text-align: left;
    .img{
        margin-top: 1rem;
        width: 100%;
    }
    h2{
        margin: 2rem 0 1rem 0;
        width: 90%;
    }
    .flex_info{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: .5rem;
        span{
            font-size: 14px;
        }
        .flex_breadcrumb{
            display: flex;
            justify-content: flex-start;
            align-items: center;
            a,p{
                font-size: 14px;
            }
            a{
                margin-right: .3rem;
            }
            p{
                margin-left: .3rem;
            }
        }
    }
    .go_back{
        margin-top: 1rem;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        a{
            margin-left: .5rem;
            color:#30AAAA;
            font-size: 14px;
            font-weight: 700;
        }
        img{
            width: 6px;
        }   
    }
    .text{
        text-align: left;
        padding: 1rem 0;
        p{
            font-size: 17px;
            line-height: 23px;  
            font-weight: 200;
            margin: 1rem 0;
        }
        h4{
            margin-top: 2rem;
            font-size: 18px;
            line-height: 22px;  
            font-weight: 700;
        }
    }
    .link_container{
        display: flex;
        justify-content: center;
        align-items: center;
        .barra{
            height: 35px;
            width: 1px;
            border-right: 1px solid #30AAAA;
        }
        .link{
        padding: 0 1rem;
        display: flex;
        justify-content: space-around;
        align-items: center;
        img{
            width: 10px;
        }
        a{
            padding: 0 1rem;
            color: #30AAAA;
            font-size: 18px;
            font-weight: 400;
            margin-bottom: 5px;
        }
        }
    }
    .related_container{
        width: 100%;
        text-align: left;
        padding-top: 6rem;
        h3{
            margin-bottom: 2rem;
        }
    }
}
.flex_img_post{
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: flex-start;
    text-align: left;
    .features_dog{
        p{
            margin: .5rem 0 1rem 0;
        }
        padding-top: 0;
        .intro_text{
            margin-bottom: 2rem;
        }
        width: 100%;
    }
}

.share_component{
    margin-top: .5rem;
    img{
        margin-left: .5rem;
        width: 17px;
    }
}
.flex_just_mobile{
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}
@media (min-width: 700px) {
    .flex_img_post{
        flex-direction: row;
        .features_dog{
            padding-top: 2rem;
            .intro_text{
                margin-bottom: 2rem;
            }
            width: 40%;
        }
    }
    .post_container{
        .img{
            width: 40vw;
            max-width: 320px;
        }
    }
}
@media (min-width: 870px) {
    .post_container{
        text-align: center;
        h2{
            margin: 4rem 0;
        }
        .flex_info{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: .5rem;
            span{
                font-size: 14px;
            }
            .flex_breadcrumb{
                display: flex;
                justify-content: flex-start;
                align-items: center;
                a,p{
                    font-size: 14px;
                }
                a{
                    margin-right: .3rem;
                }
                p{
                    margin-left: .3rem;
                }
            }
        }
        .go_back{
            margin: 1rem 0;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            a{
                margin-left: .5rem;
                color:#30AAAA;
                font-size: 14px;
                font-weight: 700;
            }
            img{
                width: 6px;
            }   
        }
        .text{
            text-align: justify;
            padding: 5rem;
            p{
                font-size: 18px;
                line-height: 22px;  
                font-weight: 400;
                margin: 1rem 0;
            }
            h4{
                margin-top: 2rem;
                font-size: 18px;
                line-height: 22px;  
                font-weight: 700;
            }
        }
        .link_container{
            display: flex;
            justify-content: center;
            align-items: center;
            .barra{
                height: 35px;
                width: 1px;
                border-right: 1px solid #30AAAA;
            }
            .link{
            padding: 0 2rem;
            display: flex;
            justify-content: space-around;
            align-items: center;
            img{
                width: 10px;
            }
           
            a{
                padding: 0 2rem;
                color: #30AAAA;
                font-size: 18px;
                font-weight: 400;
                margin-bottom: 5px;
            }
            }
        }
        .related_container{
            width: 100%;
            text-align: left;
            padding-top: 6rem;
            .related_posts{
                margin-top: 3rem;
                height: 30vw;
                background-color: #c4c4c421;
            }
        }
        
    }
   
}

.share_component{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    img{
        margin-left: .5rem;
        width: 29px;
    }
}

@media (min-width: 1025px) {
    .post_container{
        padding: 6rem 10rem;
    }
}