.container{
    margin: 1rem 0 5rem 0;
    background-color: transparent;
    border-radius: 25px;
    height: auto;
    width: 100%;
    h2{
        margin: 0 auto;
        text-align: center;
        font-size: 40px;
        font-weight: 300;
    }
    .hide {
        display: none !important;
    }
    .grayIcon{
        filter: grayscale(100%);
    }
    .tabs {
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        justify-content: space-around;
        text-align: center;
        align-items: flex-end;
        margin: 0 auto;
        padding: 2rem 0;
        .tab {
            cursor: pointer;
            margin: 0 auto;
            p{
                font-size: 18px;
                margin: 0;
            }
            .show_more{
                margin-right: .3rem;
                width: 25px;
                height: 25px;
                padding-top: 2px;
                border-radius: 50%;
                border: 1px solid white;
            }
            .show_less{
                margin-right: .3rem;
                width: 25px;
                height: 25px;
                padding-top: 2px;
                border-radius: 50%;
                background-color: rgba(255, 255, 255, 0.349);
                border: 1px solid white;
            }
            .tabTitle:hover {
                font-weight: bold;
            }
            .selectedTab {
                font-weight: 700;
            }
            div{
                display: flex;
                justify-content: center;
                align-items: center;
                .rotate{
                    transform: rotate(180deg);
                }
                img{
                    margin-left: .5rem;
                    width: 100%;
                    height: auto;
                }
            }
        }
    }
    .tabInfo{
        text-align: left;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        p{
            height:auto;
            font-size: 14px;
            font-weight: 300;
            line-height: 25.5px;
            width: 100%;
        }
    }
}

@media (min-width: 870px) {
    .container{
        padding: 2rem 0 4rem 0;
        box-shadow: none;
        width: 40vw;
        max-width: 500px;
        height: 200px;
        .flex_container{
            max-width: 1200px;
            margin: 0 auto;
            display: flex;
            width: 100%;
            height: 100%;
            justify-content: center;
            align-items: flex-start;
            text-align: center;
            .tabInfo{
                height: 100%;
                width: 25%;
                p{
                    margin: 0 auto;
                    width: 80%;
                }
            }
        }
    }
}