.dropdown-collapse {
  background-color: #d8d8d821;
  margin: 0 1.5rem;
    transition: height 1s ease;
    height:0;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 1rem;
    width: auto;
    overflow: hidden;
}
  .dropdown-collapse.show {
    height: 120px;
  }