#form-container-subscribe{
    background-color: transparent !important; 
}
#tu_correo_electronico-7be89bbb-d47f-430a-938f-105819b43cd6{
    border-radius: 25px !important;
    padding: 15px;
    border: transparent;
    outline: none;
    margin: 1rem 0;
    width: 100%;
    margin-bottom: 2rem;
}
#form-container-subscribe .actions{
   display: flex;
   justify-content: center !important;
   align-items: center;
}
#form-container-subscribe .actions>input{
    border-radius: 25px !important;
    padding: 15px;
    border: transparent;
    outline: none;
    background-color: rgb(48, 170, 170) !important;
    padding: 5px 30px !important;
    color: white;
    margin: 0 auto !important;
    font-size: 24px;
}
#my-hubspot-form span{
color: black;
font-size: 16px;
font-weight: 400;
}

@media (min-width: 870px) {
    #form-container-subscribe{
        margin: 3rem 0 !important;
width: 60%;
    }
}
@media (min-width: 900px) {
    #my-hubspot-form{
        padding: 2rem; 
    }
}
@media (min-width: 950px) {
    #my-hubspot-form{
        padding: 2rem; 
    }
}
@media (min-width: 1100px) {
    #my-hubspot-form{
        padding: 2rem 2rem; 
    }
}
@media (min-width: 1300px) {
    #my-hubspot-form{
        padding: 2rem 5rem; 
    }
}
@media (min-width: 1600px) {
    #my-hubspot-form{
        padding: 2rem 5rem; 
    }
}
@media (min-width: 1800px) {
    #my-hubspot-form{
        padding: 2rem 10rem; 
    }
}
@media (min-width: 2000px) {
    #my-hubspot-form{
        padding: 2rem 15rem; 
    }
}
@media (min-width: 2200px) {
    #my-hubspot-form{
        padding: 2rem 25rem; 
    }
}
@media (min-width: 2400px) {
    #my-hubspot-form{
        padding: 2rem 30rem; 
    }
}
@media (min-width: 2600px) {
    #my-hubspot-form{
        padding: 2rem 35rem; 
    }
}
@media (min-width: 2800px) {
    #my-hubspot-form{
        padding: 2rem 40rem; 
    }
}
@media (min-width: 3000px) {
    #my-hubspot-form{
        padding: 2rem 50rem; 
    }
}
@media (min-width: 3200px) {
    #my-hubspot-form{
        padding: 2rem 60rem; 
    }
}
@media (min-width: 3400px) {
    #my-hubspot-form{
        padding: 2rem 65rem; 
    }
}
@media (min-width: 3600px) {
    #my-hubspot-form{
        padding: 2rem 70rem; 
    }
}
@media (min-width: 3800px) {
    #my-hubspot-form{
        padding: 2rem 75rem; 
    }
}
@media (min-width: 4000px) {
    #my-hubspot-form{
        padding: 2rem 80rem; 
    }
}
@media (min-width: 4200px) {
    #my-hubspot-form{
        padding: 2rem 85rem; 
    }
}
@media (min-width: 4400px) {
    #my-hubspot-form{
        padding: 2rem 90rem; 
    }
}
@media (min-width: 4600px) {
    #my-hubspot-form{
        padding: 2rem 95rem; 
    }
}
@media (min-width: 4800px) {
    #my-hubspot-form{
        padding: 2rem 100rem; 
    }
}
@media (min-width: 5000px) {
    #my-hubspot-form{
        padding: 2rem 110rem; 
}
}