.container{
    padding: 0rem;
}
.bg_img{
    height: 100vh;
    .content{
    padding-top: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    padding: 0 2rem;
    h2{
        width: 90%;
        color: white;
        margin-bottom: 0rem;
    }
    p{
        color: white;
        font-size: 18px;
        line-height: 22px;
        margin: 3rem auto;
        margin-top: 2rem;
        width: 90%;
    }
    button{
        height: 48px;
        padding: 0 30px;
        font-size: 22px;
    }
}
}

//Features Component
.container_gps{
    padding: 2rem;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    .img_container{
        width: 100%;
        .img_sticky{
            height: 100vh;
            overflow: hidden;
            position: -webkit-sticky;
            position: sticky;
            top: 0;
        }
    }
    .text_container{
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        width: 100%;
        .absolute_title{
            position: relative;
            top: 0;
            padding-bottom: 1rem;
            margin: auto;
            color: #30AAAA;
            font-size: 18px;
            font-weight:700;
        }
        .title_text{
            padding: 0rem;
            padding-bottom: 0rem;
            p{
                margin: 2rem 0;
                margin-top: 2rem;
                margin-right: 2rem;
            }
        }
        .features{
            background-color: #c4c4c421;
            padding: 1rem;
            .flex_feature{
                padding: 1rem;
                display: flex;
                justify-content: flex-start;
                align-items: flex-start;
                img{
                    width: 20px;
                    margin-right: 2rem;
                }
            }
        }
    }
}
// Despiece
.text_despiece{
    padding: 4rem 0;
    padding-bottom: 1rem;
    h2{
        padding: 2rem 0;
    }
    p{
        width: 90%;
    }
}
.despiece_features_container{
    padding: 2rem 0;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    .feature{
        margin-bottom: 3rem;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        .number{
            font-size: 14px;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 25px;
            height: 25px;
            background-color: #D9DADD;
            border-radius: 100px;
            color: white;
            padding: .5rem;
        }
        .text{
            width: 70%;
            margin-left: 1rem;
            h5{
            color: #1F1F1F;
            font-size: 14px;
            line-height: 16.94px;
            font-weight: 700;
            margin-bottom: .5rem;
            }
            p{
                font-size: 12px;
                line-height: 14.52px;
                font-weight: 500;
            }
        }
    }
}
//Book Component
.book_container{
    width: 100%;
    height: 100vh;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
        .text_container{
            width: 90%;
            margin: 0 auto;
            text-align: left;
            margin-top: 2rem;
            background-color: transparent;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            color: white;
            .text{
                width: 100%;
                margin-bottom: 6rem;
                p{
                    font-size: 14px;
                    line-height: 17px;
                    margin-top: 1rem;
                    
                }
            }
        }
    }
    .now_what{
        height: 100vh;
        .text_container{
            width: 90%;
            margin: 0 auto;
            text-align: center;
            padding-top: 4rem;
            background-color: transparent;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .text{
                width: 100%;
                margin-bottom: 6rem;
                p{
                    font-size: 14px;
                    line-height: 17px;
                    margin-top: 1rem;
                    width: 100%;
                    margin-bottom: 2rem;
                }
            }
        }
    }

@media (min-width: 600px) {
        .container{
            padding: 2rem 0;
        }
        .bg_img{
            height: 800px;
            .content{
                padding-top: 6rem;
                float: left;
                width: 50%;
                h2{
                    width: 50%;
                    min-width: 490px;
                }
                p{
                    width: 30%;
                    min-width: 330px;
                }
            }
        }
        .text_despiece{
            padding: 4rem 0;
            padding-left: 2rem;
            h2{
                padding: 2rem 0;
            }
            p{
                width: 100%;
            }
        
        }
        //Features Component
        .container_gps{
            padding: 2rem 0;
            width: 100%;
            height: 1000px;
            display: flex;
            flex-direction: row;
            .img_container{
                background-color: #c4c4c421;
                width: 62.5%;
            }
            .text_container{
                position: relative;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                width: 37.5%;
                .absolute_title{
                    position: absolute;
                    padding-bottom: 0;
                    top: 0;
                    width: 300px;
                    margin: auto;
                    color: #30AAAA;
                    font-size: 18px;
                    font-weight:700;
                }
                .title_text{
                    padding: 2rem;
                    padding-bottom: 4rem;
                    p{
                        margin: 4rem 0;
                        margin-top: 4rem;
                        margin-right: 2rem;
                    }
                }
                .features{
                    margin-bottom: 0;
                    background-color: #c4c4c421;
                    padding: 1rem;
                    .flex_feature{
                        display: flex;
                        justify-content: flex-start;
                        align-items: flex-start;
                    }
                }
            }
        }
//Book Component
.book_container{
    width: 100%;
    margin: auto;
    height: 805px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
        .text_container{
            margin: 0;
            margin-top: 2rem;
            background-color: transparent;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            text-align: center;
            padding-left: 2rem;
            width: 400px;
            .text{
                padding-top: 2rem;
                text-align: center;
                width: 100%;
                p{
                    font-size: 18px;
                    line-height: 21.78px;
                    margin-top: 1rem;
                    width: 100%;
                }
            }
        }
    }
}
@media only screen 
and (max-device-height : 1370px) 
and (max-device-width : 1025px)
{
    .container_gps{
        .img_container{
                .img_sticky{
                    height: 100%;
                    overflow: hidden;
                    position: -webkit-sticky;
                    position: sticky;
                    top: 0;
                }
        }
    }
}
@media (min-width: 900px) {
    .container, .book_container {
        padding: 2rem 2rem; 
    }

}
@media (min-width: 950px) {
    .container, .book_container {
        padding: 2rem 2rem; 
    }
}
@media (min-width: 1100px) {
    .container, .book_container {
        padding: 2rem 5rem; 
    }
}
@media (min-width: 1200px) {
    .container{
        padding: 2rem;
    }    
    //Features Component
    .container_gps{
        padding: 2rem 0;
        width: 100%;
        height: 1381px;
        display: flex;
        flex-direction: row;
        .img_container{
            background-color: #c4c4c421;
            width: 62.5%;
        }
        .text_container{
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            width: 37.5%;
            .absolute_title{
                position: absolute;
                padding-bottom: 0;
                top: 0;
                margin: auto;
                color: #30AAAA;
                font-size: 18px;
                font-weight:700;
            }
            .title_text{
                padding: 4rem;
                padding-bottom: 4rem;
                p{
                    margin: 3vw 0;
                    margin-top: 3vw;
                    margin-right: 2rem;
                }
            }
            .features{
                margin-bottom: 0;
                background-color: #c4c4c421;
                padding: 4rem 2rem;
                .flex_feature{
                    display: flex;
                    margin-bottom: 2rem;
                    justify-content: flex-start;
                    align-items: flex-start;
                }
            }
        }
    }
     
}
@media (min-width: 1600px) {
    .container, .book_container {
        padding: 2rem 10rem; 
    }
}
@media (min-width: 1800px) {
    .container, .book_container {
        padding: 2rem 15rem; 
    }
}
@media (min-width: 2000px) {
    .container, .book_container {
        padding: 2rem 15rem; 
    }
}
@media (min-width: 2200px) {
    .container, .book_container {
        padding: 2rem 25rem; 
    }
}
@media (min-width: 2400px) {
    .container, .book_container {
        padding: 2rem 30rem; 
    }
}
@media (min-width: 2600px) {
    .container, .book_container {
        padding: 2rem 35rem; 
    }
}
@media (min-width: 2800px) {
    .container, .book_container {
        padding: 2rem 40rem; 
    }
}
@media (min-width: 3000px) {
    .container, .book_container {
        padding: 2rem 50rem; 
    }
}
@media (min-width: 3200px) {
    .container, .book_container {
        padding: 2rem 60rem; 
    }
}
@media (min-width: 3400px) {
    .container, .book_container {
        padding: 2rem 65rem; 
    }
}
@media (min-width: 3600px) {
    .container, .book_container {
        padding: 2rem 70rem; 
    }
}
@media (min-width: 3800px) {
    .container, .book_container {
        padding: 2rem 75rem; 
    }
}
@media (min-width: 4000px) {
    .container, .book_container {
        padding: 2rem 80rem; 
    }
}
@media (min-width: 4200px) {
    .container, .book_container {
        padding: 2rem 85rem; 
    }
}
@media (min-width: 4400px) {
    .container, .book_container {
        padding: 2rem 90rem; 
    }
}
@media (min-width: 4600px) {
    .container, .book_container {
        padding: 2rem 95rem; 
    }
}
@media (min-width: 4800px) {
    .container, .book_container {
        padding: 2rem 100rem; 
    }
}
@media (min-width: 5000px) {
    .container, .book_container {
        padding: 2rem 110rem; 
}
}