.container{
    padding: 0rem;
}
.bg_img{
    background-color: #c4c4c421;
    height: 100vh;
    .content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    padding: 0 2rem;
    h2{
        margin-bottom: 0rem;
    }
    p{
        font-size: 18px;
        line-height: 22px;
        margin: 3rem auto;
        width: 70%;
    }
    button{
        height: 48px;
        padding: 0 30px;
        font-size: 22px;
    }
}
}

//Features Component
.container_gps{
    padding: 2rem;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    .img_container{
        background-color: #c4c4c421;
        width: 100%;
    }
    .text_container{
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        width: 100%;
        .absolute_title{
            position: relative;
            top: 0;
            padding-bottom: 1rem;
            margin: auto;
            color: #30AAAA;
            font-size: 18px;
            font-weight:700;
        }
        .title_text{
            padding: 0rem;
            padding-bottom: 0rem;
            p{
                margin: 4rem 0;
                margin-top: 2rem;
                margin-right: 2rem;
            }
        }
        .features{
            margin-bottom: 2rem;
            background-color: #c4c4c421;
            padding: 2rem;
            .flex_feature{
                padding: 1rem;
                display: flex;
                justify-content: flex-start;
                align-items: flex-start;
            }
        }
    }
}
//Book Component
.book_container{
    width: 100%;
    text-align: left;
        .img_bg{
            margin-top: 2rem;
            background-color: #c4c4c421;
            height: 676px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding-left: 2rem;
            .img_text{
                width: 100%;
                margin-bottom: 6rem;
                button{
                    height: 48px;
                    padding: 0 30px;
                    font-size: 22px;
                    margin-top: 1rem;
                }
                p{
                    font-size: 14px;
                    line-height: 17px;
                    margin-top: 1rem;
                }
            }
        }
    }

    @media (min-width: 600px) {
        .container{
            padding: 2rem 0;
        }
        .bg_img{
            height:673px;
            .content{
                float: left;
                width: 50%;
            }
        }
        //Features Component
        .container_gps{
            padding: 2rem 0;
            width: 100%;
            height: 1000px;
            display: flex;
            flex-direction: row;
            .img_container{
                background-color: #c4c4c421;
                width: 62.5%;
            }
            .text_container{
                position: relative;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                width: 37.5%;
                .absolute_title{
                    position: absolute;
                    padding-bottom: 0;
                    top: 0;
                    width: 80%;
                    margin: auto;
                    color: #30AAAA;
                    font-size: 18px;
                    font-weight:700;
                }
                .title_text{
                    padding: 2rem;
                    padding-bottom: 4rem;
                    p{
                        margin: 4rem 0;
                        margin-top: 4rem;
                        margin-right: 2rem;
                    }
                }
                .features{
                    margin-bottom: 0;
                    background-color: #c4c4c421;
                    padding: 1rem;
                    .flex_feature{
                        display: flex;
                        margin-bottom: 2rem;
                        justify-content: flex-start;
                        align-items: flex-start;
                    }
                }
            }
        }
        //Book Component
        .book_container{
            width: 100%;
            text-align: center;
                .img_bg{
                    margin-top: 2rem;
                    background-color: #c4c4c421;
                    height: 476px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    .img_text{
                        width: 33.333%;
                        margin-bottom: 6rem;
                        button{
                            height: 48px;
                            padding: 0 30px;
                            font-size: 22px;
                        }
                        p{
                            font-size: 17px;
                            margin-top: 1rem;
                        }
                    }
                }
            }
    }
@media (min-width: 1200px) {
    .container{
        padding: 2rem;
    }    
    //Features Component
    .container_gps{
        padding: 2rem 0;
        width: 100%;
        height: 1381px;
        display: flex;
        flex-direction: row;
        .img_container{
            background-color: #c4c4c421;
            width: 62.5%;
        }
        .text_container{
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            width: 37.5%;
            .absolute_title{
                position: absolute;
                padding-bottom: 0;
                top: 0;
                margin: auto;
                width: 100%;
                color: #30AAAA;
                font-size: 18px;
                font-weight:700;
            }
            .title_text{
                padding: 4rem;
                padding-bottom: 4rem;
                p{
                    margin: 4rem 0;
                    margin-top: 4rem;
                    margin-right: 2rem;
                }
            }
            .features{
                margin-bottom: 0;
                background-color: #c4c4c421;
                padding: 6rem 4rem;
                .flex_feature{
                    display: flex;
                    margin-bottom: 2rem;
                    justify-content: flex-start;
                    align-items: flex-start;
                }
            }
        }
    }
    //Book Component
    .book_container{
        width: 100%;
        text-align: center;
            .img_bg{
                margin-top: 2rem;
                background-color: #c4c4c421;
                height: 676px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                .img_text{
                    width: 33.333%;
                    margin-bottom: 6rem;
                    button{
                        height: 48px;
                        padding: 0 30px;
                        font-size: 22px;
                    }
                    p{
                        font-size: 17px;
                        margin-top: 1rem;
                    }
                }
            }
        }
}
@media (min-width: 900px) {
    .container{
        padding: 2rem 2rem; 
    }
}
@media (min-width: 950px) {
    .container{
        padding: 2rem 2rem; 
    }
}
@media (min-width: 1100px) {
    .container{
        padding: 2rem 2rem; 
    }
}
@media (min-width: 1300px) {
    .container{
        padding: 2rem 5rem; 
    }
}
@media (min-width: 1600px) {
    .container{
        padding: 2rem 5rem; 
    }
}
@media (min-width: 1800px) {
    .container{
        padding: 2rem 10rem; 
    }
}
@media (min-width: 2000px) {
    .container{
        padding: 2rem 15rem; 
    }
}
@media (min-width: 2200px) {
    .container{
        padding: 2rem 25rem; 
    }
}
@media (min-width: 2400px) {
    .container{
        padding: 2rem 30rem; 
    }
}
@media (min-width: 2600px) {
    .container{
        padding: 2rem 35rem; 
    }
}
@media (min-width: 2800px) {
    .container{
        padding: 2rem 40rem; 
    }
}
@media (min-width: 3000px) {
    .container{
        padding: 2rem 50rem; 
    }
}
@media (min-width: 3200px) {
    .container{
        padding: 2rem 60rem; 
    }
}
@media (min-width: 3400px) {
    .container{
        padding: 2rem 65rem; 
    }
}
@media (min-width: 3600px) {
    .container{
        padding: 2rem 70rem; 
    }
}
@media (min-width: 3800px) {
    .container{
        padding: 2rem 75rem; 
    }
}
@media (min-width: 4000px) {
    .container{
        padding: 2rem 80rem; 
    }
}
@media (min-width: 4200px) {
    .container{
        padding: 2rem 85rem; 
    }
}
@media (min-width: 4400px) {
    .container{
        padding: 2rem 90rem; 
    }
}
@media (min-width: 4600px) {
    .container{
        padding: 2rem 95rem; 
    }
}
@media (min-width: 4800px) {
    .container{
        padding: 2rem 100rem; 
    }
}
@media (min-width: 5000px) {
    .container{
        padding: 2rem 110rem; 
}
}