@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;800&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
  }
html, body{
  background-color: white;
  margin: 0;
}
h1,h2,h3,h4,h5,p{
  padding: 0;
  margin: 0;
}
h1{
  font-size: 48px;
  line-height: 58.09px;
}
h2{
  font-size: 28px;
  line-height: 34px;
  font-weight: 500;
}
p{
  font-size: 22px;
}
h5{
  font-size: 24px;
}
button{
  transition: all .4s ease-out;
  color: whitesmoke;
  background-color: #30AAAA;
  font-size: 12px;
  padding: 6px 11px;
  outline: none;
  border-radius: 100px;
  cursor: pointer;
  border: none;
  margin: 0;
  &:hover{
    color: white;
    background-color: #33afafd8;
  }
}
a{
  text-decoration: none;
  color: #1D1F2A;
  &:visited{
    text-decoration: none;
  }
  &:hover{
    text-decoration: none;
  }
  &:focus{
    text-decoration: none;
  }
  &:active{
    text-decoration: none;
  }
}
.website{
  overflow-x: hidden;
}

//animation
// @keyframes fadeOut {
//   0%   { opacity:1; }
//   80%   { opacity:1; }
//   85%  { opacity:.8; }
//   90% {opacity: .7;}
//   100%  { opacity:0; }
// }
// @-o-keyframes fadeOut{
//   0%   { opacity:1; }
//   80%   { opacity:1; }
//   85%  { opacity:.8; }
//   90% {opacity: .7;}
//   100%  { opacity:0; }
// }
// @-moz-keyframes fadeOut{
//   0%   { opacity:1; }
//   80%   { opacity:1; }
//   85%  { opacity:.8; }
//   90% {opacity: .7;}
//   100%  { opacity:0; }
// }
// @-webkit-keyframes fadeOut{
//   0%   { opacity:1; }
//   80%   { opacity:1; }
//   85%  { opacity:.8; }
//   90% {opacity: .7;}
//   100%  { opacity:0; }
// }

.on_load{
  // -webkit-animation: fadeOut 2.2s ease-out;
  // -moz-animation: fadeOut 2.2s ease-out;
  // -o-animation: fadeOut 2.2s ease-out;
  //  animation: fadeOut 2.2s ease-out;
  width: 100vw;
  position: fixed;
  top: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color:#1D1F2A;
  z-index: 9999999999999999;
}

.on_load div{
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
    img{
        width: 20rem;
    }
}

@media (min-width: 800px) {
  button{
    width: auto;
  }
}