@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
  }
html, body{
  background-color: white;
  margin: 0;
}
h1,h2,h3,h4,h5,p{
  padding: 0;
  margin: 0;
}
button{
  -webkit-appearance: none;
  -webkit-border-radius: 0;
}
h1{
  font-size: 40px;
  line-height: 44px;
  font-weight: 900;
}
h2{
  font-weight: 700;
  font-size: 35px;
  line-height: 43.36px;
}
h3{
  font-size: 28px;
  line-height: 34px;
  font-weight: 500;
}
p{
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
}
h5{
  font-size: 18px;
  line-height: 22px;
  font-weight: 900;
}
button{
  transition: all .4s ease-out;
  color: whitesmoke;
  background-color: #30AAAA;
  font-size: 12px;
  padding: 10px 40px;
  font-size: 22px;
  outline: none;
  border-radius: 100px;
  cursor: pointer;
  border: none;
  margin: 0;
  &:hover{
    color: white;
    background-color: #33afafd8;
  }
}
a{
  text-decoration: none;
  color: #1D1F2A;
  &:visited{
    text-decoration: none;
  }
  &:hover{
    text-decoration: none;
  }
  &:focus{
    text-decoration: none;
  }
  &:active{
    text-decoration: none;
  }
}

@media (min-width: 1200px) {
  h1{
    font-size: 70px;
    line-height: 84px;
    font-weight: 900;
  }
  h2{
    font-size: 48px;
    line-height: 58.09px;
  }
  h3{
    font-size: 28px;
    line-height: 34px;
    font-weight: 500;
  }
  p{
    font-size: 18px;
    line-height: 21.78px;
    font-weight: 400;

  }
  h5{
    font-size: 24px;
    line-height: 29.05px;
    font-weight: 900;
  }
  button{
    width: auto;
  }
}