@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
  }
html, body{
  background-color: white;
  margin: 0;
}
h1,h2,h3,h4,h5,h6,p{
  padding: 0;
  margin: 0;
}
button{
  -webkit-appearance: none !important;
}
input[type=text], input[type=button], input[type=submit], select, button {
  -webkit-appearance: none;
}
button{
  transition: all .4s ease-out;
  color: whitesmoke;
  background-color: #30AAAA;
  font-size: 13px;
  padding: 10px 40px;
  outline: none;
  border-radius: 100px;
  cursor: pointer;
  border: none;
  margin: 0;
  &:hover{
    color: white;
    background-color: #33afafd8;
  }
}
a{
  text-decoration: none;
  color: #1D1F2A;
  &:visited{
    text-decoration: none;
  }
  &:hover{
    text-decoration: none;
  }
  &:focus{
    text-decoration: none;
  }
  &:active{
    text-decoration: none;
  }
}

.on_load{
  width: 100vw;
  position: fixed;
  top: 0;
  margin-left: 0;
  margin-right: 0;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:#D1E8E9;
  z-index: 9999999999999999;
}

.on_load div{
    color: transparent;
    img{
        width: 10rem;
    }
}