span{
    color: #30AAAA;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 1rem;
}
.bg_img{
    background-color: #c4c4c421;
    height: 100vh;
    .content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: 100%;
        padding: 0 2rem;
        h2{
        text-align: center;
        margin-bottom: 0rem;
        }
        p{
        text-align: center;
        font-size: 18px;
        line-height: 22px;
        margin: 1rem;
        width: 80%;
        }
        button{
        margin-top: 2rem;
        height: 48px;
        padding: 0 30px;
        font-size: 22px;
        }
    }
}
.clear_blue_container{
    padding: 2rem;
    background-color: rgba(175, 208, 208, 0.35);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-flow: column-reverse;
    .clear_text{
        padding: 3rem 0;
        width: 100%;
        p{
        width: auto;
        font-size: 18px;
        line-height: 21.78px;
        font-weight: 400; 
        }
        button{
        margin-top: 3rem;
        }  
    }
    .clear_logo{
        width: 100%;
        text-align: center;
    }
}
.mockup_container{
    display: flex;
    margin-top: 6rem;
    padding: 2rem;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    background-color: #AFD0D0;
    .mockup_text{
        a{
            color: #30AAAA;
        }
        h2{
        width: 100%;
        margin-bottom: 2rem;
        }
        p{
            width: 100%;
           font-size: 18px;
            line-height: 21.78px;
            font-weight: 400; 
            margin-bottom: 2rem;
        }
    }
    .mockup_img{
        display: flex;
        justify-content: center;
        align-items: center;
        img{
        width: 100%;
        }  
    }   
}
.container{
    padding: 2rem 2rem;
   .container_title{
       text-align: center;
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
       margin: 3rem 0;
       margin-top: 3rem;
       p{
            margin-top: 2rem;
           font-weight: 500;
           font-size: 20px;
           line-height: 24px;
       }
   } 
   .less_with_container{
    width: 100%;
    margin: 0 auto;
    h3{
        font-weight: 700;
        font-size: 36px;
        line-height: 43.57px;
    }
    }
   .flex_container{
       display: flex;
       flex-direction: column;
       justify-content: space-between;
       align-items: center;
       text-align: center;
       .div_img_flex{
           width: 80%;
           margin-bottom: 4rem;
            .logo_container{
                margin: 0 auto;
                width: auto;
                max-width: 200px;
                height: auto;

            }
            .text_flex{
                width: 100%;
                h3{
                    margin-bottom: .5rem;
                }
                p{
                    font-size: 14px;
                    line-height: 17px;
                    font-weight: 400;
                }
                button{
                    margin-top: 2rem;
                }
            }
       }
   }
}

.hashtag_container{
    padding: 6rem 0;
    background-color: #F9F9F9;
    margin: 0 auto;
    text-align: center;
    .flex_hash{
        margin-top: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        p{
            font-size: 18px;
            line-height: 21.78px;
        }
        button{
            margin-top: 2rem;
            background-color:rgba(48, 170, 170, 0.46);
        }
    }
}

@media (min-width: 700px) {
    .hashtag_container{
        padding: 6rem 0;
        background-color: #F9F9F9;
        margin: 0 auto;
        text-align: center;
        .flex_hash{
            margin-top: 2rem;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            p{
                font-size: 20px;
                line-height: 24.78px;
            }
            button{
                margin-top: 0;
                margin-left: 2rem;
                background-color:rgba(48, 170, 170, 0.46);
            }
        }
    }
    span{
        color: #30AAAA;
        font-size: 18px;
        font-weight: 700;
        margin-bottom: 1rem;
    }
    .clear_blue_container{
        padding: 2rem;
        background-color: rgba(175, 208, 208, 0.35);
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        .clear_text{
            padding: 6rem 0;
            width: 60%;
            p{
            width: 70%;
            font-size: 18px;
            line-height: 21.78px;
            font-weight: 400; 
            }
            button{
            margin-top: 3rem;
            }  
        }
        .clear_logo{
        width: 40%;
        text-align: center;
        }
    }
    .mockup_container{
        display: flex;
        margin-top: 6rem;
        padding: 2rem;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
        background-color: #AFD0D0;
        .mockup_text{
            a{
            color: #30AAAA;
            }
            h2{
            width: 80%;
            margin-bottom: 2rem;
            }
            p{
            width: 60%;
            font-size: 18px;
            line-height: 21.78px;
            font-weight: 400; 
            margin-bottom: 2rem;
            }
        }
        .mockup_img{
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
          img{
          width: 80%;  
            }  
        }   
    }

    .container{
        padding: 2rem;
       .container_title{
           display: flex;
           flex-direction: column;
           justify-content: center;
           align-items: center;
           margin-bottom: 0;
           p{
                margin-top: 2rem;
               font-weight: 500;
               font-size: 20px;
               line-height: 24px;
           }
       }
       .flex_container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        text-align: left;
        margin: 4rem auto;
        width: 100%;
        margin-bottom: 8rem;
        .div_img_flex{
            width: 25%;
            margin-bottom: 0;
             .logo_container{
                 margin: 0 auto;
                 width: auto;
                 max-width: 300px;
                 height: auto;
                }
            }
            .text_flex{
                width: 100%;
                h3{
                    margin-bottom: 2rem;
                }
                p{
                    font-size: 16px !important;
                    line-height: 19.36px !important;
                    font-weight: 400;
                }
            }
        }
        .less_with_container{
            width: 75%;
            margin: 0 auto;
            .div_img_flex{
                width: 45%;
                p{
                    width: 70%;
                }
            }
        }
    }
    .bg_img{
        background-color: #c4c4c421;
        height: 800px;
        .content{
        float: left;
        width: 50%; 
        }
     
    }
    .text{
        text-align: center;
        width: 100%;
        padding-left: 12.5%;
        padding-top: 10%;
        h1{
            margin: 0;
        }
        p{
            font-size: 22px;
            margin: 3rem auto;
            width: 328px;
        }
        button{
            height: 48px;
            padding: 0 30px;
            font-size: 22px;
        }
    }
}
@media (min-width: 900px) {
    .container, .clear_blue_container, .mockup_container{
        padding: 2rem; 
    }
}
@media (min-width: 950px) {
    .container, .clear_blue_container, .mockup_container{
        padding: 2rem; 
    }
}
@media (min-width: 1100px) {
    .container, .clear_blue_container, .mockup_container{
        padding: 2rem 5rem; 
    }
}
@media (min-width: 1300px) {
    .container, .clear_blue_container, .mockup_container{
        padding: 2rem 10rem; 
    }
}
@media (min-width: 1600px) {
    .container, .clear_blue_container, .mockup_container{
        padding: 2rem 10rem; 
    }
}
@media (min-width: 1800px) {
    .container, .clear_blue_container, .mockup_container{
        padding: 2rem 15rem; 
    }
}
@media (min-width: 2000px) {
    .container, .clear_blue_container, .mockup_container{
        padding: 2rem 15rem; 
    }
}
@media (min-width: 2200px) {
    .container, .clear_blue_container, .mockup_container{
        padding: 2rem 25rem; 
    }
}
@media (min-width: 2400px) {
    .container, .clear_blue_container, .mockup_container{
        padding: 2rem 30rem; 
    }
}
@media (min-width: 2600px) {
    .container, .clear_blue_container, .mockup_container{
        padding: 2rem 35rem; 
    }
}
@media (min-width: 2800px) {
    .container, .clear_blue_container, .mockup_container{
        padding: 2rem 40rem; 
    }
}
@media (min-width: 3000px) {
    .container, .clear_blue_container, .mockup_container{
        padding: 2rem 50rem; 
    }
}
@media (min-width: 3200px) {
    .container, .clear_blue_container, .mockup_container{
        padding: 2rem 60rem; 
    }
}
@media (min-width: 3400px) {
    .container, .clear_blue_container, .mockup_container{
        padding: 2rem 65rem; 
    }
}
@media (min-width: 3600px) {
    .container, .clear_blue_container, .mockup_container{
        padding: 2rem 70rem; 
    }
}
@media (min-width: 3800px) {
    .container, .clear_blue_container, .mockup_container{
        padding: 2rem 75rem; 
    }
}
@media (min-width: 4000px) {
    .container, .clear_blue_container, .mockup_container{
        padding: 2rem 80rem; 
    }
}
@media (min-width: 4200px) {
    .container, .clear_blue_container, .mockup_container{
        padding: 2rem 85rem; 
    }
}
@media (min-width: 4400px) {
    .container, .clear_blue_container, .mockup_container{
        padding: 2rem 90rem; 
    }
}
@media (min-width: 4600px) {
    .container, .clear_blue_container, .mockup_container{
        padding: 2rem 95rem; 
    }
}
@media (min-width: 4800px) {
    .container, .clear_blue_container, .mockup_container{
        padding: 2rem 100rem; 
    }
}
@media (min-width: 5000px) {
    .container, .clear_blue_container, .mockup_container{
        padding: 2rem 110rem; 
}
}