.flex_scroll{
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    width: 100%;
    padding: 2rem;
    padding-top: 0;
    .img{
        margin: 0 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        img{
            width: 100%;
            min-width: 260px;
        }
    }
}