#form-container{
    background-color: transparent !important; 
    width: 100%;
    margin: 0 !important;
}
button{
    -webkit-appearance: none !important;
  }
input[type=text], input[type=button] {
    -webkit-appearance: none !important;
}
@media screen and (-webkit-min-device-pixel-ratio:0)
{
#safari {     background-color: transparent !important; }
}
#form-container>p{
    text-align: left;
    padding: 1rem;
    padding-left: 2rem;
    padding-top: 4rem;
    font-size: 18px;
    font-size: 400;
}
#my-hubspot-form{
    background-color: transparent !important; 
    padding: 2rem; 
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.hs-form-field{
    text-align: left !important;
} 
.form-columns-2{
    margin: 0;
    max-width: none;
    display: flex;
    justify-content: space-between;
}
#firstname-662bb340-622d-4d8b-b9c3-94c89d2335ca{
    width: 38vw;
}
#lastname-662bb340-622d-4d8b-b9c3-94c89d2335ca{
    width: 42vw;
}
#email-662bb340-622d-4d8b-b9c3-94c89d2335ca{
    width: 82vw;
}
#my-hubspot-form input{
    border-radius: 25px !important;
    padding: 15px !important;
    border: 0.6px solid #FFFFFF !important;
    outline: none;
    margin: 1rem 0;
}

.hs-input{
    background: rgba(255, 255, 255, 0.18) !important;}

#my-hubspot-form textarea{
    background: rgba(255, 255, 255, 0.18) !important;
    border-radius: 25px !important;
    border: 0.6px solid #FFFFFF !important;
    outline: none;
    height: auto !important;
    padding: 15px;
    width: 100%;
    margin: 1rem 0;
    margin-bottom: 1rem;
}
.hs-button{
    content: 'Enviar' !important;
    background-color: white !important;
    padding: 1rem !important;
    width: 100%;
    color: black !important;
    font-size: 14px !important;
    cursor: pointer;
}
.actions{
   display: flex;
   justify-content: flex-start !important;
   align-items: center ;
   margin-left: 0rem;
}
#my-hubspot-form span{
color: white !important;
font-size: 12px !important;
font-weight: 300 !important;
}
.contact-absolute{
position: relative;
}
.contact-absolute>div{
    position: relative;
    padding-left: 2rem;
    right: 0;
    bottom: 3rem;
}
@media (min-width: 870px) {
    #my-hubspot-form{
        padding: 5rem 2rem; 
    }
    #form-container>p{
        text-align: center;
        padding: 2rem 0;
        padding-top: 4rem;
        font-size: 18px;
        font-size: 400;
    }
    #firstname-662bb340-622d-4d8b-b9c3-94c89d2335ca{
        width: 23vw;
    }
    #lastname-662bb340-622d-4d8b-b9c3-94c89d2335ca{
        width: 24.8vw;
    }
    #email-662bb340-622d-4d8b-b9c3-94c89d2335ca{
        width: 50vw;
    }
    #my-hubspot-form input{
        margin: .5rem 0;
        margin-bottom: 1rem;
    }
    #my-hubspot-form textarea{
        width: 50vw;
        margin: 1rem 0;
        margin-bottom: 2rem;
    }
    .hs-button{
        margin: 2rem 0 !important;
    }
    .actions{
        justify-content: flex-start;
    }
     .contact-absolute{
        position: relative;
    }   
    .contact-absolute>div{
            position: absolute;
            right: 25%;
            bottom: 3rem;
    }         
}