.container{
    padding: 2rem 0 0 0;
    .img{
        margin: 0 auto;
        width: 300px;
        height: auto;
    }
    h3{
        padding: 1rem 0 2rem 0;
        text-align: center;
        font-weight: 800;
        font-size: 20px;
        line-height: 24px;
    }
    .buttons_container{
        width: auto;
        padding: 0 2rem;
        padding-bottom: 2rem;
        margin: 0 auto;
        .flex_title{
            display: flex;
            padding-bottom: 1rem;
            h5{
                    font-weight: 600;
                    font-size: 18px;
                    line-height: 22px;
                }
                p{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin: 0;
                    margin-right: .5rem;
                    border: 1px solid white;
                    padding: .2rem;
                    border-radius: 100px;
                    min-width: 25px;
                    width: 25px !important;
                    height: 25px !important;
                    font-size: 14px;
                }  
        }
        .buttons{
            display: flex;
            justify-content: center;
            align-items: center;
            button{
            border-radius: 100px !important;
            min-width: 50px !important;
            width: 50px;
            height: 50px;
            border: 1px solid white;  
            margin: 0 .5rem;
            padding: 0 !important;
            &:hover{
                border: 3px solid white;
            }
            &:focus{
                border: 3px solid white;
            }
            }
            .black{
                background-color: #1F1F1F !important;
            }
            .blue{
                background-color: #3EADBF !important;
            }
            .yellow{
                background-color: #CFAD42 !important;
            }
            .size{
                font-weight: 500;
                font-size: 22px;
                background-color: transparent;
            }
        }
    }

    .selection_container{
        background: linear-gradient(0deg, #1F1F1F, #1F1F1F);
        box-shadow: 0px 4px 21px rgba(0, 0, 0, 0.67);
        border-radius: 25px 25px 0 0;
        padding-bottom: 4rem;
        h5{
            font-weight: 300;
            font-size: 14px;
            line-height: 17px;
        }
        .user_selection{
            padding: 1rem 2rem;
            .flex_container{
                display: flex;
                justify-content: flex-start;
                align-items: center;
                padding: .5rem 0;
                .flex{
                margin-right: 2rem;
                display: flex;
                justify-content: center;
                align-items: center;
                p{
                    text-align: left !important;
                    margin-right: 1rem;
                }
                .value{
                    min-width: 27px;
                    width: 27px;
                    height: 27px !important;
                    border-radius: 100%;
                    border: 1px solid white;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
        }
        }
        .buy_button_container{
            padding: 1rem 2rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: 1px solid #6F6F6F;
            div{
                h5{
                    font-weight: 600;
                    font-size: 22px;
                    line-height: 27px;
                    span{
                        font-weight: 300 !important;
                        font-size: 14px;
                        line-height: 17px;
                        text-decoration-line: line-through;
                    }
                }
                p{
                    text-align: left;
                    font-weight: 300;
                    font-size: 10px;
                    line-height: 12px;
                }
            }
            button{
                font-weight: 600;
                font-size: 18px;
                line-height: 22px;
                text-align: center;
                text-transform: uppercase;
                box-shadow: 0px 0px 13px #30AAAA;
                border-radius: 25.5px;
                padding: 5px 20px;
                margin: .5rem 0;
            }
        }
    }
}

@media (min-width: 870px) {
    .container{
        padding: 5rem 5vw;
        h3{
            text-align: left;
        }
        .flex{
            display: flex;
            justify-content: space-between;
            align-items: center;
            .swapper_container{
                .tabs{
                    margin: 0;
                }
            }
            .img{
                width: 40%;
            }
            .pack_container{
                padding: 0 4rem;
                width: 30%;
                h6{
                    font-weight: 300 !important;
                    font-size: 18px;
                    line-height: 22px;
                    margin-bottom: 3rem;
                }
                p{
                    font-weight: 300;
                    font-size: 14px;
                    line-height: 23px;
                }
                hr{
                    margin-top: 2rem;
                }
                .price_container{
                    margin-top: 4rem;
                    position: relative;
                    .ahorro{
                        position: absolute;
                        top: -20px;
                        left: 80px;
                        white-space: nowrap;
                        color: #30AAAA;
                        font-weight: 500 !important;
                        font-size: 14px;
                        line-height: 17px;
                        padding: .3rem .5rem;
                        border: 1px solid #30AAAA;
                        filter: drop-shadow(0px 0px 4px #30AAAA);
                        border-radius: 15px;
                    }
                    h3{
                        display: flex;
                        font-size: 22px;
                        font-weight: 600;
                        line-height: 27px;
                        text-align: left;
                        padding: 1rem 0 0 0;
                            span{
                                position: absolute;
                                top: 18px;
                                left: 138px;
                                font-weight: 300 !important;
                                font-size: 14px;
                                line-height: 17px;
                                text-decoration-line: line-through;
                            }
                    }
                    .iva{
                        position: absolute;
                        top: 40px;
                        left: 93px;
                        font-weight: 300;
                        font-size: 10px;
                        line-height: 12px;
                    }
                    .button{
                        padding: 2rem 0 0 0 ;
                    }
                }
            }
        }
        .flex_selection{
            display: flex;
            justify-content: center;
            align-items: center;
            .buttons_container{
            margin: 0;
            }
        }
    }
}