header{
    height: 70px;
    width: 100vw;
    z-index: 99999;
    position: fixed;
    // box-shadow: 0px 1px 30px #1D252D1A;
}
.header_out{
    transform: translateY(-36px);
    transition: transform .5s ease-out; 
}
.navBar{
    background-color:rgba(245, 245, 245, 0.582) !important;
    backdrop-filter: blur(5px);
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
}
.menu_fijo{
    display: flex;
    background-color:#2D373E;
    justify-content: flex-end;
    padding: .2rem 2rem;
    height: 36px;
    align-items: center;
    .active_white{
        color: white;
        font-weight: 600;
    }
    a{
        font-size: 12px;
        color: whitesmoke;
        margin-left: 2rem;
        &:hover{
            color: white;
            font-weight: 600;
        }
    }
}
.menu_fijo_out{
    display: flex;
    background-color:#2D373E;
    justify-content: flex-end;
    padding: .2rem 2rem;
    height: 36px;
    align-items: center;
        a{
            font-size: 12px;
            color: whitesmoke;
            padding-left: 2rem;
        }
}
.burger{
    padding-bottom: 1rem;
}
.logo{
    width: 6rem;
    position: absolute;
    top: .6rem;
    left: 2rem;
    outline: none;
}
.icon{
    width: 36px;
    height: 36px;
}
.login_link{
    font-size: 14px;
    margin-right: 2rem;

}
// Desktop Header
@media (min-width: 870px) {
    header{
        width: 100%;
        height: auto;
    }
    .logo{
        width: 6rem;
        position: initial;
    }
    .menu_fijo{
        padding: .2rem 2rem;
    }
    .navBar{
        height: 60px;
        padding: .2rem 2rem; 
        .logo_nav_container{
            display: flex;
            width: 550px;
            justify-content: space-between;
            align-items: center;
            a{
                outline: none !important;
                outline-color: transparent;
                text-decoration: none;
                font-weight: 400;
                width: fit-content;
                color: #2A343B;
                font-size: 16px;
                transition: 0.1s;
                &:hover{
                    color: #000000;
                    font-weight: 600;
                }
            }
            .active{
                color: #000000;
                font-weight: 600;
            }
            .disabled{
                color: #2A343B;
                font-weight: 400;
            }
        }
        button{
            margin: 0;
        }
        .drop_down{
            position: relative;
            display: inline-block;
            &:hover .drop_down_content{
                max-height: 500px;
                opacity: 1;
                transition: opacity 0.5s ease-in;
            }
            .drop_down_content{
            padding: 0.2rem;
            position: absolute;
            background-color: #1D1F2A;
            min-width: 160px;
            z-index: 1;
            max-height: 0;
            opacity: 0;
            transition: opacity 0.35s ease-out;
            overflow: hidden;
            a{
                color: #FBD872;
                width: 100%;
                padding: 0;
                padding-top: 1rem;
                text-decoration: none;
                display: block;
                &:hover{
                    color: white;
                }
            }
        } 
        }
    }
}
@media (min-width: 900px) {
    .navBar, .menu_fijo, .menu_fijo_out{
        padding: .2rem 2rem; 
    }
}
@media (min-width: 950px) {
    .navBar, .menu_fijo, .menu_fijo_out{
        padding: .2rem 2rem; 
    }
}
@media (min-width: 1100px) {
    .navBar, .menu_fijo, .menu_fijo_out{
        padding: .2rem 2rem; 
    }
}
@media (min-width: 1300px) {
    .navBar, .menu_fijo, .menu_fijo_out{
        padding: .2rem 5rem; 
    }
}
@media (min-width: 1600px) {
    .navBar, .menu_fijo, .menu_fijo_out{
        padding: .2rem 5rem; 
    }
}
@media (min-width: 1800px) {
    .navBar, .menu_fijo, .menu_fijo_out{
        padding: .2rem 10rem; 
    }
}
@media (min-width: 2000px) {
    .navBar, .menu_fijo, .menu_fijo_out{
        padding: .2rem 15rem; 
    }
}
@media (min-width: 2200px) {
    .navBar, .menu_fijo, .menu_fijo_out{
        padding: .2rem 25rem; 
    }
}
@media (min-width: 2400px) {
    .navBar, .menu_fijo, .menu_fijo_out{
        padding: .2rem 30rem; 
    }
}
@media (min-width: 2600px) {
    .navBar, .menu_fijo, .menu_fijo_out{
        padding: .2rem 35rem; 
    }
}
@media (min-width: 2800px) {
    .navBar, .menu_fijo, .menu_fijo_out{
        padding: .2rem 40rem; 
    }
}
@media (min-width: 3000px) {
    .navBar, .menu_fijo, .menu_fijo_out{
        padding: .2rem 50rem; 
    }
}
@media (min-width: 3200px) {
    .navBar, .menu_fijo, .menu_fijo_out{
        padding: .2rem 60rem; 
    }
}
@media (min-width: 3400px) {
    .navBar, .menu_fijo, .menu_fijo_out{
        padding: .2rem 65rem; 
    }
}
@media (min-width: 3600px) {
    .navBar, .menu_fijo, .menu_fijo_out{
        padding: .2rem 70rem; 
    }
}
@media (min-width: 3800px) {
    .navBar, .menu_fijo, .menu_fijo_out{
        padding: .2rem 75rem; 
    }
}
@media (min-width: 4000px) {
    .navBar, .menu_fijo, .menu_fijo_out{
        padding: .2rem 80rem; 
    }
}
@media (min-width: 4200px) {
    .navBar, .menu_fijo, .menu_fijo_out{
        padding: .2rem 85rem; 
    }
}
@media (min-width: 4400px) {
    .navBar, .menu_fijo, .menu_fijo_out{
        padding: .2rem 90rem; 
    }
}
@media (min-width: 4600px) {
    .navBar, .menu_fijo, .menu_fijo_out{
        padding: .2rem 95rem; 
    }
}
@media (min-width: 4800px) {
    .navBar, .menu_fijo, .menu_fijo_out{
        padding: .2rem 100rem; 
    }
}
@media (min-width: 5000px) {
    .navBar, .menu_fijo, .menu_fijo_out{
        padding: .2rem 110rem; 
}
}