.video_container{
    width: 100vw;
    height: 100vh;
    background-color: #434343;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid white;
}