.bm-burger-button {
    position: relative;
    width: 18px !important;
    height: 15px !important;
  }
  .bm-burger-bars {
    background: #999999;
    border-radius: 1px;
    height: 1px !important;
  }
  .bm-cross-button {
    position: absolute;
    top: 1rem !important;
    right: 2rem !important;
  }
  .bm-cross {
    background: #999999;
    border-radius: 1px;
    width: 15px !important;
    height: 1px !important;
  }
  .bm-menu-wrap {
    position: fixed;
    width: 100vw !important;
    height: 100vh !important;
    top: 0 !important;
    background:  rgb(255, 255, 255);
  }
  .logo-menu img{
    width: 49px;
  }
  .anchor-div{
    width: 85%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color:#1F1F1F;
    font-size: 18px;
    line-height: 21.78px;
    font-weight: 600;
    margin: 2rem auto;
  }
  .anchor-div img{
    width: 6.71px;
    height: 10.48px;
  }
  .flex-btns{
    margin: 0 auto;
    max-width: 400px;
    display: flex !important;
    justify-content: center;
    align-items: center;
    margin-bottom: 8vh;
  }
  .flex-btns button{
    margin: 0;
    width: 163px;
    font-size: 17px;
    font-weight: 600;
    padding: 0.75rem 1rem;
    border-radius: 100px;
  }
  .flex-btns .gray{
    background-color:#D9DADD;
    color: #1F1F1F;
  }
  /* General sidebar styles */
  .bm-menu {
    display: flex;
    margin: 0 1rem;
    margin-top: 12vh;
    width: auto;
    height: fit-content !important;
  }
  .bm-item-list{
    width: 100%;
    height: auto;
  }
  /* language */
  .language-container{
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    outline: none !important;
    bottom: 2rem;
    width: 200px;
    position: absolute;
    left: 50%;
    margin-left: -100px
  }
  .language-container div{
    margin: 0 auto;
  }