.bm-burger-button {
    padding-top: 1rem;
    position: relative;
    top: .6rem !important;
    right: 2rem !important;
    width: 1.5rem !important;
    height: 1.5rem !important;
  }
  .bm-burger-bars {
    background: #2A343B;
    border-radius: 2px;
    height: 2px !important;
  }
  .bm-burger-bars-hover {
    background: var(--btn-hover);
  }
  .bm-cross-button {
    position: absolute;
    top: 2rem !important;
    right: 2.5rem !important;
  }
  .bm-cross {
    background: #2D373E;
    border-radius: 2px;
    width: 25px !important;
    height: 2px !important;
  }
  .bm-menu-wrap {
    position: fixed;
    width: 100vw !important;
    height: 100vh !important;
    top: 0 !important;
    background:  whitesmoke;
  }
  /* General sidebar styles */
  .bm-menu {
    display: flex;
    margin: 0 2.5rem;
    margin-top: 15vh;
    width: auto;
    height: fit-content !important;
  }
  /* Wrapper for item list */
  /* hr{
    width: 100%;
    display: block; height: 1px;
    border: 0; border-top: .1px solid #2d373e41;
    margin: 0; padding: 0;
  } */
  .bm-item-list{
    width: 100%;
    height: auto;
    margin-top: 1rem;
  }
  .bm-item-list a{
    text-align: center;
    outline: none !important;
    outline-color: transparent;
    text-decoration: none;
    font-weight: 100;
    width: fit-content;
    color: #2D373E;
    font-size: 24px;
  }
  .anchor-div{
    margin-top: 1rem !important;
    margin-bottom: 1.5rem !important;
  }
  .button_burger{
    padding: 0;
    outline: none !important;
    outline-color: transparent;
    color: white !important;
    font-size: 1.5rem;
    margin-bottom: .5rem;
  }
  /* language */
  .language-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    outline: none !important;
    margin-top: 1vh;
  }
  .contact-flex{
    margin: 4vh 0;
    width: auto;
  }
  .contact-flex a {
    color: #2D373E;
    font-size: 20px;
    font-weight: 100;
  }
  .contact-flex svg {
    margin: 0 .7rem;
  }
  /* follow and media  */
  .follow-container{
    position: absolute;
    padding-right: 5rem;
    width: 100%;
    text-decoration: none;
    outline: none !important;
    bottom: 10vh;
  }
  .follow-container h3{
    color: white;
    padding-top: 2rem;
    margin: 0;
    font-size: 18px;
  }
  .bm-overlay{
   display: none;
  }

  @media (max-height:600px) and (max-width:370px) {
    .follow-container{
      bottom: 5vh;
    }
    .follow-container h3{
      padding-top: 1rem;
    }
  }