
.container{
    background-color: #c4c4c421;;
    padding: 2rem;
    position: relative;
    img{
        position: relative;
        top: 0;
        left: 0;
    }
    p{
        padding: 1rem 0;
        color: #120F3D;
        font-size: 16px;
        text-align: left;
    }
    .media_container{
        margin-top: 4rem;
        h3{
            font-size: 17px;
            line-height: 21.57px;
            font-weight: 400;
        }
    }
}
.contact{
    padding-bottom: 4rem;
    h3{
        padding-top: 2rem;
        color: #120F3D;
        font-size: 24px;
        font-weight: 400;
        margin: 0;
    }
    button{
        margin:1.5rem 0;
        padding: 10px 20px;
        font-size: 22px;
    }
}
.contact_div{
    display: flex;
    height: fit-content;
    padding-top: 1rem;
    justify-content: flex-start;
    align-items: center;
    div{
        a{
           font-size: 12px;  
           line-height: 14.52px;
           font-weight: 400; 
        } 
    }
    .contact_icons{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        img{
            width: 16px;
        }
        margin-right: 1.5rem;
        cursor: pointer;
        div{
            width: .9rem;
            height: auto;
        }
    }
    .locationIcon{
        width: .7rem !important;
    }
    a{
        color: #120F3D;
        margin: 0;
        padding: 0;
        font-size: 20px;
        line-height: 24px;
    }&:hover{
        text-decoration: underline;
    }
}
.privacity_container{
    padding-top: 2rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    a{
        margin-bottom: .5rem;
        font-size: 8px;
    }
}
.media_list{
    width: 100%;
    padding: 1rem 0;
    margin: 0;
    display: flex;
    justify-content: flex-start;
    color: #000000;
    list-style-type: none;
    filter:brightness(0);
    li{
        margin-right: .5rem;
        width: 36px;
        height: 36px;
        text-align: center;
        &:hover{
            transform: scale(1.05);
        }
    }
    img{
        width: 36px;
        height: 36px; 
    }
}
.flex_footer_lang{
    padding-top: .7rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .copyright{
        p{
            color: #120F3D;
            margin: 0;
            padding: 0;
        }
}
    
}

@media (min-width: 870px) {
    .container{
        padding: 2rem; 
        .contact{
            padding-bottom: 2rem;
            h3{
                font-size: 32px;
            }
        }
        .media_container{
            margin-top: 0rem;
        }
        .flex_container{
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .logo_text{
                width: 50%;
                padding-right: 4rem;
                p{
                    font-size: 13px;
                    line-height: 16px;
                    font-weight: 400;
                    width: 60%;
                }
                h3{
                    margin-top: 1rem;
                    font-size: 32px;
                    font-weight: 400;
                }
                h4{
                    margin-top: 1rem;
                    font-size: 17px;
                    font-weight: 400;
                }
            }
            .div{
               width: 50%;
            }
        }
    }
    .privacity_container{
        flex-direction: row;
        padding-top: 1rem ;
        width: 40%;
        bottom: 2vh !important;
        font-size: 14px;
        line-height: 17px;
        font-weight: 400;
        a{
            margin-bottom: .5rem;
            font-size: 14px;
        }
    }
    .copyright{
        padding: 0;
    }
}
@media (min-width: 900px) {
    .container{
        padding: 2rem 2rem; 
    }
}
@media (min-width: 950px) {
    .container{
        padding: 2rem 2rem; 
    }
}
@media (min-width: 1100px) {
    .container{
        padding: 2rem 2rem; 
    }
    .contact_div{
        div{
            a{
               font-size: 20px !important;  
               line-height: 24.2px;
               font-weight: 400; 
            } 
        }
        .contact_icons{
            img{
                width: 19px;
            }
        }
    }
}
@media (min-width: 1300px) {
    .container{
        padding: 2rem 5rem; 
    }
}
@media (min-width: 1600px) {
    .container{
        padding: 2rem 5rem; 
    }
}
@media (min-width: 1800px) {
    .container{
        padding: 2rem 10rem; 
    }
}
@media (min-width: 2000px) {
    .container{
        padding: 2rem 15rem; 
    }
}
@media (min-width: 2200px) {
    .container{
        padding: 2rem 25rem; 
    }
}
@media (min-width: 2400px) {
    .container{
        padding: 2rem 30rem; 
    }
}
@media (min-width: 2600px) {
    .container{
        padding: 2rem 35rem; 
    }
}
@media (min-width: 2800px) {
    .container{
        padding: 2rem 40rem; 
    }
}
@media (min-width: 3000px) {
    .container{
        padding: 2rem 50rem; 
    }
}
@media (min-width: 3200px) {
    .container{
        padding: 2rem 60rem; 
    }
}
@media (min-width: 3400px) {
    .container{
        padding: 2rem 65rem; 
    }
}
@media (min-width: 3600px) {
    .container{
        padding: 2rem 70rem; 
    }
}
@media (min-width: 3800px) {
    .container{
        padding: 2rem 75rem; 
    }
}
@media (min-width: 4000px) {
    .container{
        padding: 2rem 80rem; 
    }
}
@media (min-width: 4200px) {
    .container{
        padding: 2rem 85rem; 
    }
}
@media (min-width: 4400px) {
    .container{
        padding: 2rem 90rem; 
    }
}
@media (min-width: 4600px) {
    .container{
        padding: 2rem 95rem; 
    }
}
@media (min-width: 4800px) {
    .container{
        padding: 2rem 100rem; 
    }
}
@media (min-width: 5000px) {
    .container{
        padding: 2rem 110rem; 
}
}