
.container{
h5{
    color: #30AAAA;
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
    padding-bottom: 1rem;
}
    background-color: #c4c4c421;;
    padding: 2rem;
    position: relative;
    img{
        position: relative;
        width: 130px;
        top: 0;
        left: 0;
    }
    p{
        text-align: left;
    }
    .media_container{
        margin-top: 4rem;
        h3{
            font-size: 17px;
            line-height: 21.57px;
            font-weight: 400;
        }
    }
    .flex_links{
        margin: 3rem 0;
        flex-direction: column;
        h5{
            margin-top: 1rem;
        }
        p{
            margin-bottom:.5rem;
        }
    }
}
.contact{
    padding-bottom: 4rem;
    h4,h3{
        padding: 3rem 0 1rem 0;
        font-size: 24px;
        font-weight: 400;
        margin: 0;
    }
    button{
        margin-bottom: 2rem;
        margin-top: .5rem;
        padding: 10px 20px;
        font-size: 22px;
    }
}
.contact_div{
    display: flex;
    height: fit-content;
    padding-top: .4rem;
    justify-content: flex-start;
    align-items: center;
    div{
        a{
           font-size: 12px;  
           line-height: 14.52px;
           font-weight: 400; 
        } 
    }
    .contact_icons{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        img{
            width: 16px;
        }
        margin-right: 1.5rem;
        cursor: pointer;
        div{
            width: .9rem;
            height: auto;
        }
    }
    .locationIcon{
        width: .7rem !important;
    }
    a{
        color: #1F1F1F;
        margin: 0;
        padding: 0;
        font-size: 20px;
        line-height: 24px;
    }&:hover{
        transform: scale(1.05);
    }
}
section{
    h5{
        padding-top: 2rem;
    }
}
.privacity_container{
    padding-top: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    a{
        margin-bottom: .5rem;
        font-size: 13px;
    }
}
.media_list{
    width: 100%;
    padding: 1rem 0;
    margin: 0;
    display: flex;
    justify-content: flex-start;
    color: #000000;
    list-style-type: none;
    filter:brightness(0);
    li{
        margin-right: .5rem;
        width: 36px;
        height: 36px;
        text-align: center;
        &:hover{
            transform: scale(1.05);
        }
    }
    img{
        width: 36px;
        height: 36px; 
    }
}
.flex_footer_lang{
    padding-top: .7rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .copyright{
        p{
            margin: 0;
            padding: 0;
        }
    } 
}
@media (min-width: 870px) {
    section{
        h5{
            padding-top: 0rem;
        }
    }
    .container{
        padding: 2rem; 
        .contact{
            padding-bottom: 2rem;
            h4{
                font-size: 24px;
                line-height: 29.05px;
                font-weight: 400;
            }
        }
        .contact_div{
            div{
                a{
                   font-size: 14px !important;   
                } 
            }
        }
        .media_container{
            margin-top: 0rem;
        }
        .flex_container{
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .logo_text{
                width: 50%;
                padding-right: 4rem;
                .intro{
                p{
                    margin-top: .5rem;
                    font-size: 13px;
                    line-height: 16px;
                    font-weight: 400;
                    width: 60%;
                }
                h3{
                    margin-top: 1rem;
                    font-size: 32px;
                    font-weight: 400;
                }
                h4{
                    margin-top: 1rem;
                    font-size: 17px;
                    font-weight: 400;
                }
                }
            }
            .div{
               width: 50%;
            }
        }
    }
    .privacity_container{
        flex-direction: row;
        padding-top: 0;
        width: 450px;
        bottom: 2vh !important;
        font-size: 14px;
        line-height: 17px;
        font-weight: 300;
        a{
            margin-bottom: .5rem;
            font-size: 14px;
            &:hover{
                font-weight: 400;
            }
        }
    }
    .copyright{
        padding: 0;
    }
    .flex_links{
        display: flex;
        margin: 4rem 0;
        flex-direction: row !important;
        justify-content: space-between;
        align-items: flex-start;
        div{
            p{
            margin: 0;
            padding-bottom: .5rem;
            width: 100%;
            color: #1F1F1F;
            font-weight: 300;
            line-height: 17px;
            font-size: 14px;
            a{font-weight: 300;}
            &:hover{
                font-weight: 400;
            }
            }
        }
    }
}
@media (min-width: 900px) {
    .container{
        padding: 2rem 2rem; 
    }
}
@media (min-width: 950px) {
    .container{
        padding: 2rem 2rem; 
    }
}
@media (min-width: 1100px) {
    .container{
        padding: 5rem; 
    }
    .contact_div{
        div{
            a{
               font-size: 20px !important;  
               line-height: 24.2px;
               font-weight: 400; 
            } 
        }
        .contact_icons{
            img{
                width: 19px;
            }
        }
    }
}
@media (min-width: 1600px) {
    .container{
        padding: 5rem 10rem; 
    }
}
@media (min-width: 1800px) {
    .container{
        padding: 5rem 15rem; 
    }
}
@media (min-width: 2000px) {
    .container{
        padding: 5rem 15rem; 
    }
}
@media (min-width: 2200px) {
    .container{
        padding: 5rem 25rem; 
    }
}
@media (min-width: 2400px) {
    .container{
        padding: 5rem 30rem; 
    }
}
@media (min-width: 2600px) {
    .container{
        padding: 5rem 35rem; 
    }
}
@media (min-width: 2800px) {
    .container{
        padding: 5rem 40rem; 
    }
}
@media (min-width: 3000px) {
    .container{
        padding: 5rem 50rem; 
    }
}
@media (min-width: 3200px) {
    .container{
        padding: 5rem 60rem; 
    }
}
@media (min-width: 3400px) {
    .container{
        padding: 5rem 65rem; 
    }
}
@media (min-width: 3600px) {
    .container{
        padding: 5rem 70rem; 
    }
}
@media (min-width: 3800px) {
    .container{
        padding: 5rem 75rem; 
    }
}
@media (min-width: 4000px) {
    .container{
        padding: 5rem 80rem; 
    }
}
@media (min-width: 4200px) {
    .container{
        padding: 5rem 85rem; 
    }
}
@media (min-width: 4400px) {
    .container{
        padding: 5rem 90rem; 
    }
}
@media (min-width: 4600px) {
    .container{
        padding: 5rem 95rem; 
    }
}
@media (min-width: 4800px) {
    .container{
        padding: 5rem 100rem; 
    }
}
@media (min-width: 5000px) {
    .container{
        padding: 5rem 110rem; 
}
}