.flex_container{
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 4rem 0;
    padding-bottom: 0;
    width: 100%;
    .desarrollo{
        .rotate_div{
            margin-left: 0rem;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: left;
            -webkit-transform: rotate(-90deg);
            -moz-transform: rotate(-90deg);
            -o-transform: rotate(-90deg);
            -ms-transform: rotate(-90deg);
            transform: rotate(-90deg);
            }
        margin-right: 1rem;
        z-index: 999;
        width: 10%;
        border-right: 2px solid #30AAAA;
        h2{
            margin-left: 10rem;
            width:200px;
            font-size: 20px;
            text-align: left;
            color: #30AAAA;
        }
    }
    .timeline{
        width: 85%;
        height: auto;
        border-left: 2px solid gray;
        .timeLineScroll{
            margin-left: 1rem;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            text-align: left;
            width: "80%",
        }
        .timeline_flex{
            display: flex;
            flex-direction: column;
            width: 100%;
            justify-content: flex-start;
            align-items: flex-start;
            p{
                margin-top: 1rem;
                font-size: 17px;
                line-height: 22px;
                font-weight: 200;
            }
            .text{
            width: 90%;
            }
            .date{
            margin-right: 0rem;
            margin-top: 2rem;
            width: 200px;
            border-top: 2px solid black;
            p{
                font-size: 18px;
                padding-left: 0;
                font-weight: 200;
            }
            }
        }
    }
}

.flex_container_future{
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 4rem 0;
    padding-top: 0;
    width: 100%;
    .desarrollo{
        .rotate_div{
            margin-left: 0rem;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: left;
            -webkit-transform: rotate(-90deg);
            -moz-transform: rotate(-90deg);
            -o-transform: rotate(-90deg);
            -ms-transform: rotate(-90deg);
            transform: rotate(-90deg);
            }
        margin-right: 1rem;
        z-index: 999;
        width: 10%;
        border-right: 2px dashed #30AAAA;
        h2{
            padding-right: .5rem;
            margin-left: 10rem;
            width:200px;
            font-size: 20px;
            text-align: left;
            color: #30AAAA;
        }
    }
    .timeline{
        width: 85%;
        height: auto;
        border-left: 2px dashed #BEBEBE;
        .timeLineScroll{
            margin-left: 1rem;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            text-align: left;
            width: "80%",
        }
        .timeline_flex{
            display: flex;
            flex-direction: column;
            width: 100%;
            justify-content: flex-start;
            align-items: flex-start;
            h2,h5{
                color: #BEBEBE;
            }
            p{
                margin-top: 1rem;
                font-size: 17px;
                line-height: 22px;
                font-weight: 200;
            }
            .text{
            width: 90%;
            }
            .date{
            margin-right: 0rem;
            margin-top: 2rem;
            width: 200px;
            border-top: 2px solid #BEBEBE;
            p{
                font-size: 18px;
                padding-left: 0;
                font-weight: 200;
            }
            }
        }
    }
}
.sky_timeline{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h5,h1,p{
        text-align: center;
        width: 90%;
    }
    p{
        margin-top: 1rem;
    }
    h5{
        font-weight: 400;
    }
}

@media (min-width: 870px) {
    .sky_timeline{
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        h5,h1,p{
            text-align: center;
            width: 70%;
        }
        p{
            margin-top: 1rem;
            width: 50%;
        }
        h5{
            font-weight: 400;
        }
    }
    .flex_container{
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        padding: 8rem 0;
        padding-bottom: 0;
        width: 100%;
        .desarrollo{
            .rotate_div{
                margin-left: 3rem;
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: left;
                -webkit-transform: rotate(0deg);
                -moz-transform: rotate(0deg);
                -o-transform: rotate(0deg);
                -ms-transform: rotate(0deg);
                transform: rotate(0deg);
                }
            margin-right: 2rem;
            width: 30%;
            border-right: 2px solid #30AAAA;
            h2{
                padding-right: 2rem;
                margin-left: 0rem;
                font-size: 48px;
                width:100%;
                text-align: right;
                color: #30AAAA;
            }
        }
        .timeline{
            width: 70%;
            min-width: 300px;
            height: auto;
            border-left: 2px solid gray;
            .timeLineScroll{
                margin-left: 3rem;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                text-align: left;
                width: "80%",
            }
            .timeline_flex{
                display: flex;
                flex-direction: row;
                width: 100%;
                justify-content: flex-start;
                align-items: flex-start;
                p{
                    margin-top: 1rem;
                    font-size: 18px;
                    line-height: 22px;
                    font-weight: 200;
                }
                .text{

                width: 70%;
                }
                .date{
                margin-right: 3rem;
                margin-top: 2rem;
                width: 200px;
                min-width: 200px;
                border-top: 2px solid black;
                p{
                    font-size: 18px;
                    padding-left: 0;
                    font-weight: 200;
                }
                }
            }
        }
    }

.flex_container_future{
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 8rem 0;
    padding-top: 0;
    width: 100%;
    .desarrollo{
        .rotate_div{
            margin-left: 3rem;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: left;
            -webkit-transform: rotate(0deg);
            -moz-transform: rotate(0deg);
            -o-transform: rotate(0deg);
            -ms-transform: rotate(0deg);
            transform: rotate(0deg);
            }
        margin-right: 2rem;
        width: 30%;
        border-right: 2px dashed #30AAAA;
        h2{
            padding-right: 2rem;
            margin-left: 0rem;
            font-size: 48px;
            width:100%;
            text-align: right;
            color: #30AAAA;
        }
    }
    .timeline{
        width: 70%;
        height: auto;
        border-left: 2px dashed #BEBEBE;
        .timeLineScroll{
            margin-left: 3rem;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            text-align: left;
            width: "80%",
        }
        .timeline_flex{
            display: flex;
            flex-direction: row;
            width: 100%;
            justify-content: flex-start;
            align-items: flex-start;
            h2{
                color: #BEBEBE;
            }
            p{
                margin-top: 1rem;
                font-size: 18px;
                line-height: 22px;
                font-weight: 200;
            }
            .text{
            width: 70%;
            }
            .date{
            margin-right: 3rem;
            margin-top: 2rem;
            width: 200px;
            min-width: 200px;
            border-top: 2px solid #BEBEBE;
            p{
                font-size: 18px;
                padding-left: 0;
                font-weight: 200;
            }
            }
        }
    }
}
}
// tablet
@media only screen 
and (max-device-height : 1370px) 
and (max-device-width : 1025px)
and (min-device-width : 800px)
{
    .flex_container{
        .desarrollo{
            h2{
                font-size: 38px;
            }
        }

    }
}