@import "../../../../../styles/variables.scss";
b{
    font-weight: 500;
}
.container{
    background: radial-gradient(58.95% 46.94% at 50% 50%, #6F6F6F 0%, #434343 100%);
    color: white;
    width: 100%;
    padding: 2.5rem 5%;
    padding-top: 150px;
    text-align: center;
    h2{
        font-size: 40px;
        font-weight: 300;
        padding-bottom: 1.5rem;
    }
    p{
        font-size: 14px;
        font-weight: 300;
        line-height: 17px;
    }
}
