.banner_container{
    position: fixed;
    right: 0;
    z-index: 99999;
    bottom:0;
    background-color: #F9F9F9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    max-width: 450px;
    height: 120px;
    padding: 1rem 0;
    border-radius: 0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    .flex_container{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    img{
    width: 162px;
    }
    h3{
        padding: 1rem;
        font-weight: bold;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        letter-spacing: -0.02em;
        color: #30AAAA;
        letter-spacing: -0.02em;
    }
    button{
        font-size: 12px;
        line-height: 15px;
        padding: 8px 20px;
    }
    .close_banner{
        background-color: transparent;
        position: absolute;
        top: 0;
        right: -.5rem;
        img{
            width: 10px;
            height: 10px;
        }

    }
}

@media (min-width: 700px) {
    .banner_container{
        .close_banner{
            background-color: transparent;
            position: absolute;
            top: 0;
            right: -1.5rem;
            img{
                width: 15px;
                height: 15px;
            }
        }
        position: fixed;
        right: 0;
        z-index: 99999;
        top: 456px;
        background-color: #F9F9F9;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        width: 275px;
        height: 311px;
        padding: 2rem 0;
        border-radius: 21px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        img{
        width: 100%;
        }
        h3{
            padding: 0 1rem 1.5rem 1rem;
            color: #30AAAA;
            font-weight: bold;
            font-size: 18px;
            line-height: 22px;
            text-align: center;
            letter-spacing: -0.02em;
        }
        button{
            font-size: 20px;
            line-height: 24px;
            padding: 10px 40px;
        }
    }
}