.container{
    padding: 2rem 5%;
    margin-top: 1rem;
    background-color: white;
    border-radius: 25px 25px 0 0;
    box-shadow: 0px 2px 29px rgba(0, 0, 0, 0.25);
    width: 100vw;
    height: auto;
    background-color: #F1F1F1;
    h2{
        margin: 0 auto;
        margin-top: 4rem;
        width: 70%;
        line-height: 48.41px;
        text-align: center;
        font-size: 40px;
        font-weight: 300;
        max-width: 350px;
    }
    .hide {
        display: none !important;
    }
    .grayIcon{
        filter: grayscale(100%);
    }
    .tabs {
        border-bottom: .75px solid #C4C4C4;
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        justify-content: space-around;
        text-align: center;
        align-items: center;
        padding: 3rem 0 1rem 0;
        .tab {
            cursor: pointer;
            margin: 0 auto;
            p{
                font-size: 12px;
                color:#909090;
                margin: 0;
            }
            .tabTitle:hover {
                font-weight: bold;
            }
            .selectedTab {
                font-weight: 700;
            }
        }
    }
    .tabInfo{
        padding-top: 2rem;
        text-align: center;
        height: 100%;
        margin: 0 auto;
        p{
            height:auto;
            font-size: 14px;
            font-weight: 300;
            line-height: 25.5px;
            margin: 0 auto;
            margin-bottom: 30px;
            width: 100%;
        }
    }
}

@media (min-width: 870px) {
    .container{
        padding: 4rem 5%;
        box-shadow: none;
        .flex_container{
            max-width: 1200px;
            margin: 0 auto;
            display: flex;
            width: 100%;
            height: 100%;
            justify-content: center;
            align-items: center;
            text-align: center;
            .tabInfo{
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: center;
                height: 100%;
                width: 33.33%;
                p{
                    width: 60%;
                    height:140px;
                    margin-bottom: 2rem;
                }
            }
        }
    }
}